**/test*
TODO
Fluo*/
SingleParticleImages/
lodestar_cropped_cell_images/
GroomedSingleImages/
VAE_single_cell/
VAE_single_cell2/
VAE_single_cell2_rotated/
VAE_single_cell2/VAE_single_cell2_angles.npy
